# Python
.venv/
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env
.env.local

# IDE
.vscode/

# Data
data/raw/*
data/processed/*

# Trained models
models/*.pkl
models/*.joblib

# Logs
*.log